.troggle {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    top: 0;
    height: 20%;
    padding: 0;
    text-align: center;
    width: 16.666%;
}

.timidus {
    background-image: url("./Bashful.png");
}

.assistus {
    background-image: url("./Helper.png");
}

.normalus {
    background-image: url("./Reggie.png");
}

.smarticus {
    background-image: url("Smarty.png");
}

.laborus {
    background-image: url("./Worker.png");
}