.all {
    margin: 0;
    height: 100%;
    background: black;
    color: white;
}

.menu {
    margin: 0;
    height: calc(100% - 16px);
    background: black;
    color: white;
    border: 8px solid #ff4cf7;
}

.opening {
    background-image: url("./Opening.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: top;
}

.options {
    top: 50%;
    height: calc(100% - 270px);
}

.text {
    height: 75px;
    position: relative;
    padding: 30px;
    display: flex;
}

.text:nth-child(3) {
    align-items: flex-end;
}