.info {
    width: 100%;
    height: 75px;
    position: relative;
}

.board {
    border: 4px double #ff4cf7;
    position: relative;
    width: 95%;
    height: calc(100% - 160px);
    max-height: calc(100vw * .95);
    left: 50%;
    transform: translate(-50%, 0);
}

.board-row {
    height: 20%;
    width: 100%;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}