.full {
    margin: 0;
    height: 100%;
    background: #000574;
    color: white;
}

.level, .score {
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 20%;
}

.title, .lives {
    position: absolute;
    min-width: 20%;
    text-align: center;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .title, .lives {
        right: 20px;
        left: unset;
        transform: unset;
    }
}

.title {
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

.lives {
    top: 10px;
    height: 50px;
    width: 180px;
}

.life {
    background-image: url("../muncher/Muncher.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    width: 50px;
}

.points {
    border: 3px solid white;
    padding: 5px;
}