.status {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 3px solid white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}