.keyboard {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 100vw - 150px);
    display: none;
}

@media screen and (max-width: 768px) {
    .keyboard {
        display: block;
    }
}

.keyboard > button {
    height: 20%;
    background: white;
    border: 2px solid #ff4cf7;
    color: #ff4cf7;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-content: center;
}

.up, .down {
    margin: auto;
    width: 50%;
}

.left, .right {
    float: left;
    width: 50%;
}

.enter,.space {
    width: 100%;
}