.square {
    border: 2px solid #ff4cf7;
    float: left;
    height: 100%;
    position: relative;
    margin-right: -4px;
    margin-top: -4px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.666%;
    left: -2px;
    top: 2px;
}