.square {
    border: 1px solid #999;
    float: left;
    line-height: 14vh;
    height: 14vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: calc(19vh);
}