ol {
    margin: auto;
    list-style: none;
    counter-reset: li;
    position: relative;
}

.w300 {
    width: 300px;
}

.w550 {
    width: 550px;
}

.tn40 {
    top: -40px;
}

.t20 {
    top: 20px;
}

.t140 {
    top: 140px;
}

li::before {
    content: counter(li) ". ";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
    margin-right: 3em;
}

li {
    padding: 10px;
    counter-increment: li;
    color: white;
}

.selected {
    background: white;
    color: black;
}