@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, #root {
    margin: 0;
    height: 100%;
    color: white;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}